.DS_Store
*.aux
*.gz
commands.tex.bak
*.bak
*.synctex.gz
*.synctex*
*.log
*.zip
*.blg
*.out
*.nav
*.ilg
*.lof
*.idx
*.lot
*.ind
*.ist
package-lock.json
package.json
TMU_thesis.xdv
TMU_thesis.fls
TMU_thesis.toc
